<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="name">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid" >Registrar</button>
  <button type="button">Accion</button>
</form>
<hr>
<h1>NgClass y NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" >
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
}">
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" >
    <input type="number" [(ngModel)]="box.height" >
    <input type="color" [(ngModel)]="box.background" >
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }" ></div>
  </div>
</div>
<hr>
<h1>Class & Style</h1>
<input type="text" required #nameInputs="ngModel" [(ngModel)]="person.name" >
<p class="message-error" [class.invalid]="nameInputs.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" >
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" >
  </div>
  <div>
    <img [src]="person.avatar" [style.width.px]="widthImg" alt="imagen">
  </div>
</div>
<hr>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" >
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Juan'">
    El color el Azul
  </p>
  <p *ngSwitchCase="'Nicolas'">
    El color el Verde
  </p>
  <p *ngSwitchCase="'Fernando'">
    El color el Rojo
  </p>
  <p *ngSwitchDefault>
    No hay ningún color
  </p>
</div>
<hr>
<h1>*ngFor Obj</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" >
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" >
<p *ngIf="person.name === 'Juan' && person.age === 18; else elseBlock">Soy Juan</p>
<p *ngIf="person.name === 'Carlos'">Soy Carlos</p>
<ng-template #elseBlock>
  <p>Bloque del else</p>
</ng-template>
<hr>

<h2>ngModel</h2>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p>Valid: {{ nameInput.valid }}</p>

<p>Age {{ person.age }}</p>
<input type="number" max="30" min="18" required #ageInput="ngModel" [(ngModel)]="person.age" >
<p>Valid: {{ ageInput.valid }}</p>
<hr>
<h2>Eventos</h2>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">age ++</button>

<p>Nombre {{ person.name }}</p>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quo fugiat consequuntur tempora magnam repellat nemo earum repellendus doloremque ullam? Eaque numquam similique nesciunt nihil delectus possimus totam aliquam aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quo fugiat consequuntur tempora magnam repellat nemo earum repellendus doloremque ullam? Eaque numquam similique nesciunt nihil delectus possimus totam aliquam aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quo fugiat consequuntur tempora magnam repellat nemo earum repellendus doloremque ullam? Eaque numquam similique nesciunt nihil delectus possimus totam aliquam aliquid.</p>
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr>
<h2>Propiedades</h2>
<button [disabled]="btnDisabled" >Enviar</button>
<input type="text" [value]="person.name">
<progress [value]="person.age" max="100"></progress>
<img [src]="person.avatar" width="100" alt="imagen">
<hr>
<h2>Hola mundo!!</h2>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años.</h3>
<img src={{image}} alt="imagen" width="100">
